
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

header, footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}


h1 {
  text-align: center;
  font-size: 800%;
  font-weight: bolder;
}

h3 {
  text-align: center;
  font-weight: bolder;
}

footer div {
  text-align: center;
  color: lightgrey;
}

footer a {
  color: lightgrey;
}


img {
  display:block;
  max-width: 100%;
  width: 150px;
  margin: -1em auto .25em auto;
}

#wordLocation {
  text-align:center;
  white-space: nowrap;
}

#wordLocation span {
font-family: monospace;
  font-size: 500%;
  font-weight: bolder;
  margin-right: .2em;
}

@media only screen and (max-width: 800px) {
  h1 {
      font-size: 500%;
  }
  #wordLocation span {
      font-size: 400%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
      font-size: 400%;
  }
  #wordLocation span {
      font-size: 250%;
  }
}


